* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    padding-top: 20px;
    background: rgb(176, 81, 81);
}
body {}

main{
    background: #f7f7f7;
    cursor:pointer;
   
}

html {
    background: #ffffff;
    font-family: sans-serif;

}

nav {
    background: #ffffff;
  padding-top: 10px;
    display: flex;
    position: sticky;
    padding: 1px 2vw 0px;
}


.col-lg-10{
    display: flex;
    flex-direction: row;
}

.left {
    padding-top: 20px;
    display: flex;
}

.logo {
    height: 40px;
    width: 70px;
    margin-top: 9px;
}

.left ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.left li a {

    text-decoration: none;
    flex-direction: row;
    /* padding: 10px; */
    color: black;
    font-weight: bold;

}
.container{
    /* overflow: hidden; */
}

.home {

    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    width: 125px;
    text-align: center;
    font-family: sans-serif;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.home a {
    -webkit-font-smoothing: antialiased;

    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}

.left li {
    padding-top: 15px;
    text-transform: uppercase;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

sup {
    font-size: 10px;
    color: red;
}

.right {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 20px;
    margin-left: 100px;
}

input {
    display: inline-block;
    /* float: left; */
    font-size: 14px;
    width: 400px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
outline: 1px whitesmoke;
    border: 0px solid #b6b6ba;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    border-radius: 10px;
    background: #f5f5f6;
}

.right input::placeholder {
    text-indent: 10px;

}

.profile svg {
    height: 25px;
    width: 20px;
    display: flex;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h6 {
    text-align: center;
    font-size: 12px;
    margin-left: 17px;
}

svg:hover {
    transform: scale(1.7);
    transition: 1.2s;
    color: rgb(174, 238, 238);
}

/* header Compleate */
.img1 img {
    height: 200px;

}

nav {
    border-radius: 10px 10px;
    box-shadow: 0px 3px 0px 0px rgb(221, 218, 217);
}
.srk{

}
.ctnr2{
height: 450px;
width: 100%;

}
.srk img{
    width: 100%;
    height: 400px;
 object-fit:fit-content;
 object-position: bottom;

}
.spcl,.deal1{
    filter: contrast(2) ;
    object-fit: cover;
    width: 100%;
    height: 50px;
    backface-visibility: hidden;
    mix-blend-mode:darken;
    
}
.coupons{
padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
    padding: 0%;
    /* gap:40px; */

}
.coupons img{
    /* 713 × 148 px */
    height: 148px;
width:650px;
margin-left: -10px;
outline:none;
}
.mens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* background: #000; */
/* height: 250px; */
overflow: hidden;
}

.mens img{
/* height: 250px; */
object-fit: cover;
outline: 2px rgb(196, 194, 194) solid;

}

.box{

    height: 250px;

    width: 200px;
    object-fit: cover;
    overflow: hidden;
}
.first img{
   margin: 0%;
   padding: 0%;
   margin-left: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;

}
.flex{margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content:safe;

}
.second{
    height: 70px;
    width: 100px;
    object-fit: contain;
}
.price{
    margin-top: -20px;
    text-align:  center;
margin-left: -20px;
}

.dealimages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.dealimages img{
    object-fit: cover;
    width: 326px;
    margin: 2px;
    height:428px ;

}
/* @media only screen and (max-width: 600px) {
    .dealimages{
        display: grid;
        grid-template-columns: 1fr ;
        object-fit: cover;
    width: 326px;

    height:428px ;
    }    
} */
.dealimages img:hover{
    transition: 0.7s;
    transform: scale(1.1);
    -webkit-box-shadow: 8px -20px 24px 0px rgb(160, 149, 142);
    -moz-box-shadow: 8px -20px 24px 0px rgb(184, 164, 149);
    box-shadow: 8px -20px 24px 0px rgb(180, 157, 140);
}
.rakshabndan h1{
font-weight: 700;
font-size:28.8px;
padding-bottom: 0px;
line-height: normal;
color: #3e4152;
font-style: normal;
letter-spacing: .19em;
font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
}

.offer{
display:grid ;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}
.offer img{
    margin: 0%;
    width: 240px;
    height:470px ;
    object-fit: scale-down;
}
.boys h1{
 font-weight: 700;
font-size:28.8px;
padding-bottom: 0px;
line-height: normal;
color: #3e4152;

font-style: normal;
letter-spacing: .19em;
font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
}
.gandsru{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

    .gandsru img{
        width: 240px;
        height:300px ;
        margin: 15px;
}
.gandsru img:hover{

    transition: 1s;
    transform: scale(1.2);
    -webkit-box-shadow: 8px -20px 24px 0px rgb(15, 11, 9);
    -moz-box-shadow: 8px -20px 24px 0px rgb(24, 22, 20);
    box-shadow: 8px -20px 24px 0px rgb(24, 20, 16);
}
.womens h1{
    font-weight: 700;
    font-size:28px;
    padding-bottom: 0px;
    line-height: normal;
    color: #3e4152;
    font-style: normal;
    letter-spacing: .19em;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.CATEGORY{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.CATEGORY img{
    height: 250px;

    width: 200px;
    object-fit: contain;
    object-position:right;
    margin: 0%;
    margin-right: -50px;
}
.btn{
    background: #f7f7f7;
    border: black 2px solid;
    width: 200px;
    height: 40px;
    border-radius: 60px;
    color: #f5f5f6;

    text-align: center;
    background: rgb(241,115,6);
    background: linear-gradient(40deg, rgba(241,115,6,1) 0%, rgba(247,45,253,0.8015800070028012) 100%);
}
a{
    text-decoration:none;
}
.center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.boxing a{
color: #f5f5f6;
font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 19px;
text-transform: uppercase;
letter-spacing: 0.5px;

}
.links{
    list-style: none;
    text-align: start;
    text-transform: capitalize;

}
.links h2{
    text-transform: uppercase;
}
.links li{
    color: #3e4152;
    font-size: 14px;
    margin-bottom: .6rem ;

}
.shifting{
    margin-top: -60px;
}
.links h2{
font-size: 12px;
font-weight: 700 ;

}
.foooter{
    background: #f7f7f7;
}
.parent{
display: flex;
flex-direction: row;
justify-content: start;

    height: 80px;
    width: 380px;

}
.child img{
    height: 50px;
    width: 140px;
}
.icons li{
    display: flex;
    flex-direction: row;
}
.father{
    display: flex; display: flex;
    align-items: center;

  
}
.son{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px
}

.son li i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 28px; /* Set the desired font size */
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    cursor: pointer;
    border-radius: 40%;
    transition: background-color 0.5s;
}
.son li i.bi-facebook:hover {
    color: #f5f5f6;
    transition: 1s;
    background-color: #1877f2; /* Facebook blue */
}

.son li i.bi-twitter:hover {
    color: #f5f5f6;
    transition: 1s;
    background-color: #1da1f2; /* Twitter light sky blue */
}

.son li i.bi-instagram:hover {
    color: #f5f5f6;
    transition: 1s;
    background-color: #e519cd; /* Instagram pink */
}

.son li i.bi-youtube:hover {
    color: #f5f5f6;
    transition: 1s;
    background-color: #ff0000; /* YouTube red */
}
.last{
    display: block;
}
.last img{
    position:relative;float: left;

height: 50px;
width: 100px;
}
.last p{
margin-right: 100px;
}