<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <style>

.parent {
    display: flex;
    justify-content: center;
}

.child {
    display: flex;
    align-items: center;
}

.icon {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
    </style>
</head>
<body>
    <div class="parent">
        <div class="child">
            <li>sdfg</li>
            <li>cfvg</li>
            <li>fg</li>
            <li>dgfh</li>
            <li>kuytr</li>
        </div>
    </div>
</body>
</html>